*,
*::after,
*::before {
box-sizing: border-box;
}

:root {
--background-card: #fff;
--background-learn: #f8f8f8;
--background-internal: #f3f4f5;
--box-shadow: 0 10px 29px rgba(0, 0, 0, 0.2);
--color-text: #172533;
--color-text-soft: #626e76;
--color-accent: #7c47c0;
}

* {
font-family: "Poppins";
}

.learn {
background-color: #f7f7f7;
display: flex;
justify-content: center;
align-items: center;
}

.card {
background-color: white;
box-shadow: inset 0 0 1em white, 0 0 1em rgb(225, 226, 226);
display: flex;
flex-direction: column;
justify-content: center;
width: 380px;
padding-left: 40px;
font-weight: 700;  
font-size: 14px;
padding-bottom: 20px;
}

